

body{
      background-color:rgb(255, 153, 187);
      padding: 0;
      margin: 0;
      font-family: Helvetica, sans-serif;
}

nav{
    background: rgba(255, 255, 255, 0.3);
    /* height: 60px; */
    text-align: center;
    font-family: Georgia, "Times New Roman", serif;
}

nav a{
      text-align: center;
      color: white;
      font-size: 1.5em;
      padding: 15px;
      margin: 10px;
      display: inline-block;
      text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}
/* Styles for hero or feature */
.hero{
    background-image: url(img/hair-hero.jpg);
    height: 600px;
    background-size:cover;
    background-position: right;
    /* Styles for text and button */
    position: relative;
}



.flexItem{
        flex-basis: 300px;
        flex-grow: 1;
        margin: 2px 40px;
        background: rgba(255, 255, 255, 0.3);
        padding: 30px;
}

.hero h2{
    font-family: Georgia, "Times New Roman", serif;
    position: absolute;
    bottom: 12%;
    right: 5%;
}

button{
    position: absolute;
    bottom:5%;
    right:5%;
    background: none;
    padding: 8px;
    border: 2px black solid;
    color: black;
    font-size: 1.3em;
    border-radius: 5px;
}
/* STYLES FOR ABOUT HERO */
.about-hero{
    background-image: url("img/hair_2.jpg");
    /* ADD IMAGE NAME ABOVE */
    height: 600px;
    background-size:cover;
    background-position: right;
    /* Styles for text and button */
    position: relative;
}

.about-hero h2{
    font-family: Georgia, "Times New Roman", serif;
    color: white;
    font-size: .9em;
    position: absolute;
    top: 5%;
    left: 2%;
}
/* END STYLES FOR ABOUT HERO */
main{
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
}
/* medium screen size below */
@media screen and (min-width: 700px) {
      .logo{
         width: 350px;
      }

      img{
          display: inline;
          width: 30%;
      }

      .flexItem{
              /* flex-basis: 300px; */
              /* flex-grow: 1; */
              margin: 20px;
              /* background: rgba(255, 255, 255, 0.3); */
              /* padding: 30px; */
      }
      .flexItem:first-child{
        margin-right: 0;

      }

}

/* large screen styles below */
@media screen and (min-width: 1300px) {

    img{
      display: none;
      }

  }

footer{
    background-color: rgba(0, 0, 0, 0.6);
    padding:40px;
}

footer a{
    color: white;
}

footer p{
    margin: 40px;
    color: white;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 0.7em;
    text-align: center;
}

.logo {
  /* ------ Max width to keep logo image from being larger than intended ------ */
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 60%;
      max-width: 400px
      @ -96,8 +117,8 @@ background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("
}






/* img{ */
    /* width: 100%; */
    /* display: block; */
    /* margin: 1% auto; */
}
